* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, Sans-Serif;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

table.stock-table {
    border: 1px solid;
    border-collapse: collapse;
    border-color: #e9e9e9;
}

tr:nth-child(even).stock-table {
    background-color: #f2f2f2;
}

th.stock-table {
    background-color: DodgerBlue;
    color: white;
}

th.stock-table, td.stock-table {
    padding: 15px;
}
